__pycache__/
*.pyc
*.pyo
.DS_Store
venv/



*.py[cod]
*.pyo
*.pyd

core/git/__pycache__/
# Build artifacts
build/
dist/
*.egg-info/
*.spec
**/__pycache__/
Output/
dosyalar.txt
setup.iss
.github/workflows/release.yml